@model IEnumerable<YachtShop.Models.Seller>

@{
    ViewData["Title"] = "Seller";
}

<h2 id="sellerPageIndexTitle">@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" id="createButton">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th id="firstNameCol">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th id="secondNameCol">
                    @Html.DisplayNameFor(model => model.SecondName)
                </th>
                <th id="salaryCol">
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th id="phoneNumberCol">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th id="emailCol">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SellerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SellerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SellerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
